In [28]:
a="10"
print(a) # 변수가 가리키는 객체의 값 출력

10

In [15]:
id(a) # 변수가 가리키는 메모리의 주소 반환

140734662025904

In [29]:
type(a)

str

In [ ]:
#변수에 값 저장
# 변수 = 값
a=10

In [17]:
#여러개의 변수에 여러개의 값 저장
#변수1, 변수2, 변수3.... = 값1, 값2, 값3 ....
a,b,x,y = 1,2,3,4

In [18]:
a
b
x
y

4

In [19]:
#여러개의 변수에 한 개의 값 저장
#변수1=변수2=변수3=값
a=b=c=10

In [20]:
# 두 변수 값의 교환
a=10
b=20
# 위 두 변수의 값을 교환하세요.
a,b = b,a # 동적할당을 하기 때문에
print(a,b)

20 10

In [23]:
#변수 삭제
#del 명령어 사용
#del 변수
del a #a 변수 삭제

NameError: name 'a' is not defined

In [24]:
#문자열 사용
#문자열에 큰 따옴표를 사용
name = "홍길동"
age = 23
print(name,age)

홍길동 23

In [25]:
#작은 따옴표도 사용 가능
address = '서울시 강남구'

#문자열에 + 연산자를 사용하면 문자열 결합 연산자로 취급
print(name + "은 " + address + "에 삽니다.")

홍길동은 서울시 강남구에 삽니다.

In [30]:
print(name + "의 나이는" + str(age) + "입니다.")

홍길동의 나이는23입니다.

In [36]:
name = "홍길동"
no = "2016001"
year = 4
grade = "A"
average = 93.5

#포맷 코드 사용
print("성명 : %s" % name) #문자열 포맷코드
print("학번 : %s" % no) 
print("학년 : %d" % year) #정수형 포맷코드
print("학점 : %c" % grade) #한문자 포맷코드
print("평균 : %.2f" % average) #실수형 포맷코드 (.소수이하자리f)

성명 : 홍길동
학번 : 2016001
학년 : 4
학점 : A
평균 : 93.50