In [2]:
password = 1234

if password == 1234 :
    print('비밀번호 일치')
else :
    print('비밀번호 불일치')

비밀번호 일치

In [7]:
password = 1234

if password == 12341 :
    print('비밀번호 일치')
else :
    pass #아무것도 수행하지 않을 경우

In [10]:
#로그인 프로그램
ID = 'flower'
password = '1234'

#사용자로부터 키보드를 통해 값을 입력 받기
input_id = input("아이디 입력 : ") ## 입력되는 data는 문자열로 처리
input_pass = input("비밀번호 입력")

#두 값이 모두 일치하면 로그인 성공
if (ID == input_id) and (password == input_pass) :
    print('로그인 성공')
else :
    print('로그인 실패!')

아이디 입력 : flower
비밀번호 입력1234
로그인 성공

In [12]:
#사용자로부터 두 수를 입력받아 더한 결과를 출력하는 코드 작성.
su1 = int(input('첫번 째 수 입력 : '))
su2 = int(input('두번 째 수 입력 : '))

print(su1 + su2)

첫번 째 수 입력 : 3
두번 째 수 입력 : 3
6

In [20]:
#if~elif ~ else
num = int(input('정수 입력 : '))

if num < 0 :
    print('음수')
elif num > 0 :
    print('양수')
else :
    print('0')

정수 입력 : 2
양수

In [21]:
#if~elif ~ else
num1 = int(input('정수1 입력 : '))
num2 = int(input('정수2 입력 : '))
num3 = int(input('정수3 입력 : '))

if num1 > num2 and num1 > num3:
    print(num1)
elif num2 > num1 and num2 > num3 :
    print(num2)
elif num3 > num1 and num3 > num2 :
    print('제일 큰 수 : ',num3)

정수1 입력 : 2
정수2 입력 : 3
정수3 입력 : 4
제일 큰 수 :  4

반복문

In [22]:
#for 변수 in 리스트 또는 범위
for name in ['홍길동', '이몽룡', '성춘향', '변학도'] :
    print(name)
    
for x in range(0,10):
    print(x)

홍길동
이몽룡
성춘향
변학도
0
1
2
3
4
5
6
7
8
9

In [24]:
#출력시 print문은 줄바꿈을 표현한다. 줄바꿈 없이 출력 end=
for name in ['홍길동', '이몽룡', '성춘향', '변학도'] :
    print(name, end=' ')

print(' ') # 커서를 내리는 역할을 하게 됨
for x in range(0,10):
    print(x)

홍길동 이몽룡 성춘향 변학도
0
1
2
3
4
5
6
7
8
9

In [25]:
for x in range(0,10,2):
    print(x)

0
2
4
6
8

In [27]:
#숫자 11부터 21까지를 한줄에 출력하시오.
#단, 한칸 띄어서 출력할 것

for x in range(11,22):
    print(x, end=" ")

11 12 13 14 15 16 17 18 19 20 21

In [30]:
#1부터 10까지 합을 출력
sumx = 0 # 누적 변수 반복문에서 쓰기 전에 선언되어야 한다.
for x in range(0,11) :
    sumx = sumx + num
    
print(sumx)

22

# 문자열

In [31]:
# 문자열 곱하기
# 곱한 수 만큼 문자열이 반복되어 생성

string = '파이썬'

result = string * 3

print(result)

파이썬파이썬파이썬

In [32]:
#문자열 슬라이싱 (문자열의 일부분을 추출 하는 기능)
crawling = 'Data crawling is fun'
parsing = 'Data parsing is also fun'
print(crawling)
print(crawling[0:4]) # 0-3
print(crawling[5:16]) #5-15
print(crawling[17:])#17-끝
print(crawling[19])#19(20번째 문자) - 인덱스는 0부터 시작
print(crawling[-1:]) #마지막에서 끝까지 (마지막 문자)
print(crawling[:-1]) #처음부터 마지막 - 1까지
print(crawling[16:16+4]) # 16-19

Data crawling is fun
Data
crawling is
fun
n
n
Data crawling is fu
 fun

In [34]:
parsing[5]='가' #문자열 인덱싱은 일부에는 대입 연산자를 사용할 수 없다. error

TypeError: 'str' object does not support item assignment

In [35]:
#문자열 연산자 in / not in 연삱
#특정 문자열이 포함되어 있는지 여부 확인
#결과 T/F
#대소문자는 구별해서 찾는다.

string = 'python programming'

print('python' in string)
print('Python' in string)

if 'python' in string:
    print('있음')
else :
    print('없음')

True
False

In [ ]:
#len() : 문자열 전체 길이 반환print, 단독함수 len(변수명 또는 문자열)
#count() : 특정 문자의 빈도수 반환 문자열 또는 변수, count(개수할 문자)

string = 'programming'
print(lem(string))
print(string.count("m"))

In [39]:
#split() : 구분자를 기준으로 문자열을 나누고 리스트 형태로 반환
#구분자 : 기본 공백, 옵션으로 구분자를 지정할 수 있음. - / , .
string = 'python programming'
split_str = string.split()
print(split_str) # 결과는 리스트 형태로 반환

names = '홍길동,이몽룡,성춘향,변학도'
names_split = names.split(",")
print(names_split)

colors='red:blue:yellow:green'
colors_split=colors.split(":")
print(colors_split)

['python', 'programming']
['홍길동', '이몽룡', '성춘향', '변학도']
['red', 'blue', 'yellow', 'green']

In [40]:
#replace() : 전체 문자열에서 특정 문자열을 찾아 다른 문자열로 변경
#문자열.replace(찾는문자열,변경할 문자열)

course = 'Java programming'

#Java 를 Python으로 변경
course_replace = course.replace("Java", "Python")
print(course_replace)
#기존 course 변수의 값은 변경되는가?(x)
print(course)

Python programming
Java programming

In [48]:
#join() : 각 문자사이에 특정 문자(열) 삽입
a = 'aa'
a.join('bbb') #a변수의 값을 bbb 사이에 삽입

#문자열 사이에 구분자 삽입 사용
#리스트에 있는 모든 문자를 하나로 구성할때 사용(리스트 함수)
a='-'
print(a.join("abcd"))

#리스트에 join 함수 사용
sep = ' '
names=['홍길동', '이몽룡', '성춘향']
print(sep.join(names))

a-b-c-d
홍길동 이몽룡 성춘향

In [53]:
#대소문자 전환 함수
#upper() : 전부 대문자로
#lower() : 전부 소문자로
#capitalize() : 문자의 첫 번째 문자를 대문자로
#title() : 각 단어의 첫 글자를 대문자로 변경

string ='this is MY DOG'
string.upper()
string.lower()
string.capitalize()

'This is my dog'